{{selectedElement}}
<div class="row">
  <div class="col-lg-6">
    <form>
      <fieldset>
	<legend>{{title}}</legend>
	<div class="form-group">
	  <label for="state">Departamento</label>
	  <select class="form-control" [(ngModel)]="state" name="state" (ngModelChange)="getCities()" required>
	    <option *ngFor="let state of states" [ngValue]="state.id">{{state.name}}</option>
	  </select>
	</div>
	<div *ngIf="cities" class="form-group">
	  <label for="city">Municipio</label>
	  <select class="form-control" [(ngModel)]="city" name="city" (ngModelChange)="getProcedures()" required>
	    <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
	  </select>
	</div>
	<div *ngIf="procedures" class="form-group">
	  <label for="procedure">Trámite</label>
	  <select class="form-control" name="procedure" required>
	    <option>Lorem Ipsim</option>
	    <option>Dolor Sit amet</option>
	    <option>Consectutor bla</option>
	  </select>
	</div>
	<button class="btn btn-default" type="submit">Iniciar</button>
      </fieldset>
    </form>
  </div>
</div>
