<div class="row">
  <div class="col-lg-6">
    <form>
      <fieldset>
	<legend>{{title}}</legend>
	<div class="form-group">
	  <label for="state">Departamento</label>
	  <select class="form-control" name="departamento" required>
	    <option>Cundinamarca</option>
	    <option>Boyacá</option>
	    <option>Lorem ipum</option>
	  </select>
	</div>
	<div class="form-group">
	  <label for="town">Municipio</label>
	  <select class="form-control" name="municipio" required>
	    <option>Lenguazaque</option>
	    <option>Tabio</option>
	    <option>Lorem Ipsum</option>
	  </select>
	</div>
	<div class="form-group">
	  <label for="procedure">Trámite</label>
	  <select class="form-control" name="procedure" required>
	    <option>Lorem Ipsim</option>
	    <option>Dolor Sit amet</option>
	    <option>Consectutor bla</option>
	  </select>
	</div>
	<button class="btn btn-default" type="submit">Iniciar</button>
      </fieldset>
    </form>
  </div>
</div>
