<header>
  <div id="top">
    <div class="container-fluid">
      <div class="row">
	<div class="col-sm-12 col-lg-5">
	  <nav class="navbar" *ngIf="isAuth">
	    <ul class="nav navbar-nav">
	      <li>
		<p>Has iniciado sesión como <b>{{user}}</b> <a class="navbar-link" href="#"  (click)="doLogout($event)">Cerrar Sesión</a></p>
	      </li>
	    </ul>
	  </nav>
	</div>
	
	<div class="col-sm-12 col-lg-2 col-lg-offset-5">
	  <nav class="navbar">
	    <ul class="nav navbar-nav navbar-right">
	      <li>
		<a class="navbar-link" href="#"><img src="http://placehold.it/30x30"/></a>
	      </li>
	      <li>
		<a class="navbar-link" href="#"><img src="http://placehold.it/30x30"/></a>
	      </li>
	      <li>
		<a class="navbar-link" href="#"><img src="http://placehold.it/30x30"/></a>
	      </li>
	    </ul>
	  </nav>
	</div>
	
      </div>
    </div>
  </div>

  
  <div id="main-menu">
    <div class="container-fluid">
      <div class="row">
	<div class="col-lg-12">
	  <main-menu [title]="title"></main-menu>
	</div>
      </div>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <contact-info></contact-info>
    </div>
    <div class="col-sm-12 col-lg-6">
      <outstanding-links></outstanding-links>
    </div>
  </div>
  <div id="institutional-logos" class="row">
    <div class="col-sm-12">
      <ul class="nav navbar-nav pull-right">
	<li>
          <img src="assets/image/mintic.png" class="img-rounded" />
	</li>
	<li>
	  <img src="assets/image/escudo.png" class="img-rounded" width="100"/>
	</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="legal" class="col-lg-12">
      <p>Copyright © 2016 <a href="#">Codeaholics Team</a></p>
      <p><a href="#">Términos de uso</a>, <a href="#">Políticas de provacidad</a></p>
    </div>
  </div>
</footer>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div id="alertMsg"></div>
