{{diagnostic}}
<div class="row">
  <div class="col-lg-6">
    <form #citizenForm="ngForm" (ngSubmit)="doSignup()">
      <fieldset>
	<legend>{{title}}</legend>

	<div class="form-group">
	  <label for="name">Nombre</label>
	  <input id="name" class="form-control" [(ngModel)]="citizen.name" type="text" name="name" placeholder="Nombre" required>
	</div>
	<div class="form-group">
	  <label for="surname">Primer Apellido</label>
	  <input id="surname" class="form-control" [(ngModel)]="citizen.lastName1" type="text" name="lastName1" placeholder="Primer apellido" required>
	</div>
	<div class="form-group">
	  <label for="surname2">Segundo Apellido</label>
	  <input id="surname2" class="form-control" [(ngModel)]="citizen.lastName2" type="text" name="lastName2" placeholder="Segundo apellido" required>
	</div>
	<div class="form-group">
	  <label for="identification">Identificación</label>
	  <input id="identification" class="form-control" [(ngModel)]="citizen.identification" type="number" name="identification" placeholder="Número de identificación" required>
	</div>
	<div class="form-group">
	  <label for="birthdate">Fecha de Nacimiento</label>
	  <input id="birthdate" class="form-control" [(ngModel)]="citizen.birthDate" type="date" name="birthDate" required placeholder="Fecha de Nacimiento">
	</div>
	<div class="form-group">
	  <label for="email">Correo electrónico</label>
	  <input id="email" class="form-control" [(ngModel)]="citizen.email" type="email" name="email" placeholder="Correo Electrónico" required>
	</div>
	<div class="form-group">
	  <label for="password">Contraseña</label>
	  <input id="password" class="form-control" [(ngModel)]="citizen.password" type="password" name="password" placeholder="Contraseña" minlength="8" title="Contraseña es demasiado corta" required>
	</div>
	<div class="form-group">
		<div>
			<label for="file">Archivo Cedula</label>
			<input type="file" id="file" class="form-control" [ng-file-select]="options" (onUpload)="handleUpload($event)" required>
		</div>
		<div *ngIf="uploadFile">
			Progreso: {{ uploadProgress }}%
		</div>
		<div *ngIf="uploadFile">
			<div class="ui indicating olive progress">
				<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploadProgress + '%' }"></div>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-default" [disabled]="!citizenForm.form.valid">Enviar</button>
      </fieldset>
    </form>
  </div>
</div>
