<div class="row">
  <div class="col-lg-6">
    <div class="well page">
      {{diagnostic}}
      <form #citizenForm="ngForm" (ngSubmit)="doSignup()">
	<fieldset>
	  <legend>{{title}}</legend>
	  
	  <div class="form-group">
	    <label for="name">Nombre</label>
	    <input id="name" class="form-control" [(ngModel)]="citizen.name" type="text" name="name" placeholder="Ingrese su primero y segundo nombre" required>
	  </div>
	  <div class="form-group">
	    <label for="surname">Primer Apellido</label>
	    <input id="surname" class="form-control" [(ngModel)]="citizen.lastName1" type="text" name="lastName1" placeholder="Ingrese su primer apellido" required>
	  </div>
	  <div class="form-group">
	    <label for="surname2">Segundo Apellido</label>
	    <input id="surname2" class="form-control" [(ngModel)]="citizen.lastName2" type="text" name="lastName2" placeholder="Ingrese su segundo apellido o de casada" required>
	  </div>
	  <div class="form-group">
	    <label for="identification">Identificación</label>
	    <input id="identification" class="form-control" [(ngModel)]="citizen.identification" type="number" name="identification" placeholder="No debe contener ni puntos ni espacios" required>
	  </div>
	  <div class="form-group">
	    <label for="birthdate">Fecha de Nacimiento</label>
	    <input id="birthdate" class="form-control" [(ngModel)]="citizen.birthDate" type="date" name="birthDate" required placeholder="AAAA/MM/DD">
	  </div>
	  <div class="form-group">
	    <label for="email">Correo electrónico</label>
	    <input id="email" class="form-control" [(ngModel)]="citizen.email" type="email" name="email" placeholder="correo@ejemplo.com" required>
	  </div>
	  <div class="form-group">
	    <label for="password">Contraseña</label>
	    <input id="password" class="form-control" [(ngModel)]="citizen.password" type="password" name="password" placeholder="Secreto" minlength="8" title="Contraseña es demasiado corta" required>
	  </div>
	  
	  <upload-file [legend]="ArchivoCedula" [multiple]=false [url]="URL"></upload-file>
	  <button type="submit" class="btn btn-default" [disabled]="!citizenForm.form.valid">Enviar</button>
	</fieldset>
      </form>
    </div>
  </div>
</div>
