<h3>{{title}}</h3>


<div class="tab-content">

<h3>{{state}}</h3>
<h3>{{mayoralty}}</h3>

<h3>{{procedure}}</h3>
 <!--  <div id="formulario" class="tab-pane fade in active">
    <procedure-info *ngIf="procedure" [profile]="profile" [procedure]="procedure"></procedure-info>
  </div>
  <div id="documentos" class="tab-pane fade">
    <procedure-docs *ngIf="procedure" [procedure]="procedure"></procedure-docs>
  </div>
  <div id="flujo" class="tab-pane fade" >
    <procedure-flow *ngIf="procedure" [profile]="profile" [procedure]="procedure"></procedure-flow>
  </div>
  <div id="historial" class="tab-pane fade">
    <h3>Aqui poner la historial y comentarios del flujo</h3>
  </div>
   -->
</div>
