<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre de archivo</th>
      <th>Descarga</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info" *ngFor="let i of keys(procedure[0]['deliveryDocs']); let c = index">
      <td>{{c + 1}}</td>
      <td>{{i}}</td>
      <td>
        <button class="btn btn-raised btn-default" (click)='downloadDocs(i)'>Descargar</button>
       <!-- <a class="btn btn-raised btn-default" href="{{procedure[0]['deliveryDocs'][i]}}" title="Descargar">Descargar</a> -->
      </td>
    <tr>
  </tbody>
</table>
