<div class="row">
  <div class="col-lg-12">
    <div class="list-group">
      <div class="list-group-item" *ngFor="let i of keys(procedure[0])">
	
	<div  class="row-content" *ngIf="i === 'mayoralty'">
	  <h4>Alcaldía</h4>
	  <p>{{procedure[0][i]}}</p>
	</div>
	
	<div  class="row-content" *ngIf="i === 'className'">
	  <h4>Nombre del Trámite</h4>
	  <p>{{procedure[0][i]}}</p>
	</div>
	
	<div  class="row-content" *ngIf="i === 'status'">
	  <h4>Estado</h4>
	  <p>{{procedure[0][i]}}</p>
	</div>
	
	<div  class="row-content" *ngIf="i === 'fileNumber'">
	  <h4>Número de Radicado</h4>
	  <p>{{procedure[0][i]}}</p>
	</div>
	
	<div  class="row-content" *ngIf="i === 'citizen'">
	  <h4>Información del ciudadano</h4>
	  <div  *ngFor="let i of keys(procedure[0]?.citizen)">
	    <p style='text-indent: 1em'>{{i + ' : ' + procedure[0]?.citizen[i]}}</p>
	  </div>
	  
	</div>
	
	<div  class="row-content" *ngIf="i === 'procedureData'">
	  <h4>Información del trámite radicado</h4>
	  <div  *ngFor="let i of keys(procedure[0]?.procedureData)">
	    <p style='text-indent: 1em'>{{i + ' : ' + procedure[0]?.procedureData[i]}}</p>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
