<!-- This is not necesary already JLRM
<p>
	<a class="btn btn-lg btn-primary" routerLink="/procedures/funcionarioss" role="button">Funcionarios</a>
      </p>
-->
<h3>{{title}}</h3>

<BR />

<div class="row">
    <div class="col-lg-12">
        <status-selector (select)="status = $event"></status-selector>
    </div>
</div>


<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Radicado</th>
                <th>Estado</th>
                <th>Nombre del Trámite</th>
                <th>Departamento</th>
                <th>Ciudad/Municipio</th>
                <th>Detalle</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let procedure of procedures | ongoingFilter: [status]">
                <td>{{procedure.id}}</td>
                <td>{{procedure.status}}</td>
                <td>{{procedure.name}}</td>
                <td>{{procedure.department}}</td>
                <td>{{procedure.city}}</td>
                <td><a href="/">Detalle</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
