<h3>{{title}}</h3>

<ul class="nav nav-pills">
  <li class="active"><a data-toggle="tab" href="#formulario">Formulario</a></li>
  <li><a data-toggle="tab" href="#documentos">Documentos</a></li>
  <li><a data-toggle="tab" href="#flujo">Flujo</a></li>
  <li><a data-toggle="tab" href="#historial">Historia</a></li>
</ul>

<div class="tab-content">
  <div id="formulario" class="tab-pane fade in active">
    <procedure-info [procedures]="procedures"></procedure-info>
  </div>
  <div id="documentos" class="tab-pane fade">
    <procedure-docs [procedures]="procedures"></procedure-docs>
  </div>
  <div id="flujo" class="tab-pane fade" >
    <procedure-flow [procedures]="procedures"></procedure-flow>
  </div>
  <div id="historial" class="tab-pane fade">
    <h3>Aqui poner la historial y comentarios del flujo</h3>
  </div>
</div>
