{{selectedElement}}
<form #loginForm="ngForm" (ngSubmit)="insertFunctionary()">
    <fieldset>
        <h3 class="header">{{title}}</h3>

        <div class="sample">

            <div class="form-group">
                <label for="state">Funcionario</label>
                <select id="state" class="form-control" [(ngModel)]="citizen" name="citizen" required>
                    <option value="" disabled="disabled" selected="selected">
                        Seleccione un ciudadano
                    </option>
                    <option *ngFor="let citizen of citizens" [ngValue]="citizen">
                        {{citizen.fullName}}
                    </option>
                </select>
            </div>
        </div>


        <button type="submit" class="btn btn-primary btn-lg btn-block btn-raised" [disabled]="!loginForm.form.valid">
                Registrar
        </button>


    </fieldset>
</form>
