<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
	<a routerLink="/">Inicio</a>
      </li>
      <li *checkUser="profile">
	<a routerLink="/procedures">Trámites</a>
      </li>
       <li *checkUser="profile">
	<a routerLink="/procedures/funcionarioss">Trámites</a>
      </li>

      <!-- esto es un servicio que ya no va JLRM
      <li *checkUser="profile">
	<a routerLink="/citizens">Ciudadanos</a>
      </li>
      -->

    </ul>
  </div>
</nav>
