<nav class="navbar row">
  <div class="navbar-header col-lg-4">
    <div class="navbar-brand">
      <img src="assets/image/logo-black.png" class="brand-logo"/>
      <h1 class="brand">{{brand}}
      <span>CODEAHOLICS</span></h1>
    </div>
  </div>
  <div class="collapse navbar-collapse col-log-8">
    <ul class="nav navbar-nav">
      <li *ngIf="isAuth">
	<div class="nav-item__icon">
          <a routerLink="/dashboard">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Panel
          </a>
	</div>
      </li>
      <li *ngIf="!isAuth">
	<div class="nav-item__icon">
          <a class="public-item" routerLink="/">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Inicio
          </a>
	</div>
      </li>
      <li>
	<div class="nav-item__icon">
	  <a class="public-item" href="#">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Equipo
	  </a>
	</div>
      </li>
      <li>
	<div class="nav-item__icon">
	  <a class="public-item" href="#">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Fábrica
	  </a>
	</div>
      </li>
      <li>
	<div class="nav-item__icon">
	  <a class="public-item" href="#">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Contacto
	  </a>
	</div>
      </li>
      <li *checkCitizen="profile">
	<div class="nav-item__icon">
          <a routerLink="/tramites">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Trámites
	  </a>
	</div>
      </li>
      <li *checkFunctionary="profile">
	<div class="nav-item__icon">
          <a routerLink="/tramites" >
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Trámites
	  </a>
	</div>
      </li>
    </ul>
  </div>
</nav>
