<nav class="navbar">
  <div class="navbar-header">
    <div class="logo">
      <img src="assets/image/logo-black.png" class="img-rounded"/>
    </div>
    <a class="navbar-brand" hreh="#">{{brand}}</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li *ngIf="isAuth">
	<div class="nav-item__icon">
          <a routerLink="/dashboard">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Panel
          </a>
	</div>
      </li>
      <li *ngIf="!isAuth">
	<div class="nav-item__icon">
          <a class="public-item" routerLink="/">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Inicio
          </a>
	</div>
      </li>
      <li>
	<div class="nav-item__icon">
	  <a class="public-item" href="#">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	      ¿Quienes Somos?
	  </a>
	</div>
      </li>
      <li>
	<div class="nav-item__icon">
	  <a class="public-item" href="#">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    ¿Qué es la FdT?
	  </a>
	</div>
      </li>
      <li>
	<div class="nav-item__icon">
	  <a class="public-item" href="#">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Contáctenos
	  </a>
	</div>
      </li>
      <li *checkCitizen="profile">
	<div class="nav-item__icon">
          <a routerLink="/tramites">
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Trámites
	  </a>
	</div>
      </li>
      <li *checkFunctionary="profile">
	<div class="nav-item__icon">
          <a routerLink="/tramites" >
	    <img src="http://placehold.it/54x64/FFFFFF" />
	    Trámites
	  </a>
	</div>
      </li>
    </ul>
  </div>
</nav>
