<div div="project-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-8 col-lg-offset-2">
	<div class="well">

	  <div id="contact">
	    <h3 class="contact-title">{{title}}</h3>
	    <div class="contact-title-bot"></div>
	    <p class="contact-text">
	      Email: <a href="mailto:codeaholicsfactory@gmail.com">codeaholicsfactory@gmail.com</a>
	    </p>
	    <p class="contact-text">
	      Tel: +57 1 555 5555
	    </p>
	    <p class="contact-text">
	      Web: <a href="http://codeaholics.dynns.com/">http://codeaholics.dynns.com</a>
	    </p>

	  </div>

	</div>
      </div>
    </div>
  </div>
</div>
