<div div="project-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-8 col-lg-offset-2">
	<div class="well">
	  <h3>{{title}}</h3>
	  <p align="justify">Este es un servicio web enfocado en brindar a los ciudadanos con bajo nivel de cultura informática y que sean residentes de los municipios con una población inferior a 50.000 habitantes la posibilidad de realizar sus trámites de una manera rápida y sencilla a través de Internet. Igualmente facilita la creación de trámites a través de la definición de un modelo estandarizado, el cual podrá ser utilizado por las alcaldías municipales como instrumento para llevar sus trámites presenciales al escenario digital.
	  </p>
	  <p align="justify">Esta plataforma ha sido desarrollada por el Equipo Codeaholics de la Especialización en Construcción de Software de la Universidad de Los Andes, como prototipo funcional que hace uso de las últimas tendencias tecnológicas de código abierto disponbiles, las cuales permiten alcanzar mayor Usabilidad, Seguridad y Rendimiento para los usuarios
	  </p>
	</div>
      </div>
    </div>
  </div>
</div>
