<div div="project-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12">
	<div class="well">
	  <h3>{{title}}</h3>
	  <div class="row">
	    <div class="col-lg-6">
	      <h4>¿Quienes somos?</h4>
	      <p>Somos un equipo interdisciplinar conformado por lorem ipsum dolor sit amet consecutur tales ... motivados por ... que les gusta ...</p>
	    </div>
	    <div class="col-lg-6">
	      <div class="list-group">
		<div class="list-group-item">
		  <div class="row-picture">
		    <img class="circle" src="assets/image/storm.png">
		  </div>
		  <div class="row-content">
		    <h4 class="list-group-item-heading">
		      Andrés Osorio
		    </h4>
		    <p class="list-group-item-text">
				Especialista en Construcción de Software
		    </p>
		  </div>
		</div>

		<div class="list-group-item">
		  <div class="row-picture">
		    <img class="circle" src="assets/image/storm.png">

		  </div>
		  <div class="row-content">
		    <h4 class="list-group-item-heading">
		      Jheison Rodríguez
		    </h4>
		    <p class="list-group-item-text">
				Especialista en Construcción de Software
		    </p>
		  </div>
		</div>
		<div class="list-group-item">
		  <div class="row-picture">
		    <img class="circle" src="assets/image/storm.png">
		  </div>
		  <div class="row-content">
		    <h4 class="list-group-item-heading">
		      David Martínez
		    </h4>
		    <p class="list-group-item-text">
				Especialista en Construcción de Software
		    </p>
		  </div>
		</div>
		<div class="list-group-item">
		  <div class="row-picture">
		    <img class="circle" src="assets/image/storm.png">
		  </div>
		  <div class="row-content">
		    <h4 class="list-group-item-heading">
		      Sebastián Cardona
		    </h4>
		    <p class="list-group-item-text">
				Especialista en Construcción de Software
		    </p>
		  </div>
		</div>
		<div class="list-group-item">
		  <div class="row-picture">
		    <img class="circle" src="assets/image/storm.png">
		  </div>
		  <div class="row-content">
		    <h4 class="list-group-item-heading">
		      Fabián Hernández
		    </h4>
		    <p class="list-group-item-text">
		      Especialista en Construcción de Software
		    </p>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
