<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-5">
      <div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
	  <li class="pure-menu-item">
	    <a [routerLink]="['/login']" class="pure-menu-link">Login</a>
	  </li>	
	  <li class="pure-menu-item">
	    <a [routerLink]="['/signup']" class="pure-menu-link">Registro</a>
	  </li>
	</ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u">
      <img src="http://placehold.it/120x70" />
    </div>
    <div class="pure-u-3-5">
      <div class="title" style="text-align:center">
	<h1>{{title}}</h1>
      </div>
    </div>
    <div class="pure-u">
      <img src="http://placehold.it/120x70" />
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
	<li class="pure-menu-item">
	  <a class="pure-menu-link" href="#">Inicio</a>
	</li>
	<li class="pure-menu-item">
	  <a [routerLink]="['/procedures']" class="pure-menu-link">Trámites</a>
	</li>
	<li class="pure-menu-item">
	  <a [routerLink]="['/users']" class="pure-menu-link">Usuarios</a>
	</li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
