<div class="col-lg-3 col-lg-offset-9">
  <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	<li>
	  <a [routerLink]="['/login']" class="pure-menu-link">Login</a>
	</li>	
	<li>
	  <a [routerLink]="['/signup']" class="pure-menu-link">Registro</a>
	</li>
      </ul>
    </div>
  </nav>
</div>

<div class="row page-header">
  <div class="col-lg-3">
    <img src="http://placehold.it/120x70" />
  </div>
  <div class="col-lg-6">
    <div class="title" style="text-align:center">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="pull-right">
      <img src="http://placehold.it/120x70" />
    </div>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
	<a class="pure-menu-link" href="#">Inicio</a>
      </li>
      <li>
	<a [routerLink]="['/procedures']" class="pure-menu-link">Trámites</a>
      </li>
      <li>
	<a [routerLink]="['/users']" class="pure-menu-link">Usuarios</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
