{{diagnostic}}
<form class="pure-form pure-form-stacked" #loginForm="ngForm" (ngSubmit)="loginUser()">
  <fieldset>
    <legend>{{title}}</legend>
    
    <label for="email">Correo electrónico</label>
    <input [(ngModel)]="user.email" type="text" name="email" required>
    
    <label for="password">Contraseña</label>
    <input [(ngModel)]="user.password" type="text" name="password">
    <button type="submit" class="pure-button pure-button-primary" [disabled]="!loginForm.form.valid">Ingresar</button>
  </fieldset>
  <hr />
  <div>Olvidó su contraseña?, <span><a href="#">recuperela</a></span></div>
  <div>Si no tiene cuenta, <span><a href="#">regístrese</a></span></div>
</form>
