<h1>{{title}}</h1>
<form class="pure-form pure-form-stacked">
  <fieldset>
    <legend>Por favor ingrese sus datos</legend>
    
    <label for="name">Nombre</label>
    <input type="text" required>
    
    <label for="surname">Apellido</label>
    <input type="text">

    <label for="rol">Rol</label>
    <select>
      <option *ngFor="let rol of roles" [value]="rol">{{rol}}</option>
    </select>
    
    <button type="submit" class="pure-button pure-button-primary">Enviar</button>
  </fieldset>
</form>
